name: send-a-joke

# Controls when the workflow will run
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Don't run on the hour as these can get delayed.
    - cron:  '0 20 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Send it, yo 
        env:
          BETTY_WEBHOOK: ${{ secrets.BETTY_WEBHOOK }}
          WIMPLO_WEBHOOK: ${{ secrets.WIMPLO_WEBHOOK }}
        # Runs a single command using the runners shell
        run: ./send-joke.sh
      - name: Keep repo active with empty commit
        if: ${{ github.event_name == 'schedule' }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit --allow-empty -m "chore: keep send-a-joke workflow active"
          git push
